/* src/app/ui/container/container.module.css */

.container {
  max-width: 85%;    /* nebo 1024 / 1200 / co používáš */
  margin: 0 auto;
  padding-left: 24px;     /* TADY máš ten default spacing od okrajů */
  padding-right: 24px;
  position: relative;
  z-index: 5;
}

.fullHeight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
